*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.nlo
*.nls
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.thm
*.toc
*.vrb
*.xdv
